@keyframes scale-y {
  0% { transform: scaleY(1); }
  to { transform: scaleY(3); }
}

:root {
  --blue:        rgba(53, 126, 221, 1);
  --dark-blue:   rgba(0, 68, 158, 1);
  --dark-gray:   rgba(34, 40, 49, 1);
  --dark-green:  rgba(19, 119, 82, 1);
  --dark-pink:   rgba(213, 0, 143, 1);
  --dark-red:    rgba(231, 4, 15, 1);
  --gray:        rgba(119, 119, 119, 1);
  --green:       rgba(25, 169, 116, 1);
  --light-blue:  rgba(150, 204, 255, 1);
  --light-gray:  rgba(238, 238, 238, 1);
  --light-green: rgba(158, 235, 207, 1);
  --light-red:   rgba(255, 114, 92, 1);
  --near-white:  rgba(244, 244, 244, 1);
  --shade:       rgba(244, 244, 244, 0.1);
  --orange:      rgba(255, 99, 0, 1);
  --red:         rgba(255, 65, 54, 1);
  --white:       rgba(255, 255, 255, 1);
}

a {
  color: inherit;
}

a,
body,
div,
dl,
form,
input,
label,
html,
ul {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input,
select {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  overflow: visible;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

input {
  width: 100%;
}

path {
  fill: currentcolor;
}

select {
  appearance: none;
}

.app {
  height: 100vh;
  width: 100vw;
}

.app,
.logo {
  transition: opacity 0.5s linear 0.1s;
}

.b--dark-blue {
  border-color: var(--dark-blue);
}

.b--dark-gray {
  border-color: var(--dark-gray);
}

.b--dark-green {
  border-color: var(--dark-green);
}

.b--dark-red {
  border-color: var(--dark-red);
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.bb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-near-white {
  background-color: var(--near-white);
}

.bg-red {
  background-color: var(--red);
}

.bg-white {
  background-color: var(--white);
}

.bl {
  border-left-style: solid;
  border-left-width: 1px;
}

.blue {
  color: var(--blue);
}

.bottom-1 {
  bottom: 1rem;
}

.br {
  border-right-style: solid;
  border-right-width: 1px;
}

.br-0 {
  border-radius: 0;
}

.br-100 {
  border-radius: 100%;
}

.bt {
  border-top-style: solid;
  border-top-width: 1px;
}

.bw0 {
  border-width: 0;
}

.bw1 {
  border-width: 0.125rem;
}

.bw2 {
  border-width: 0.25rem;
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-h {
  left: 50%;
  transform: translateX(-50%);
}

.column {
  flex-shrink: 0;
  min-width: 20rem;
  width: 33%;
}

.dark-gray {
  color: var(--dark-gray);
}

.db {
  display: block;
}

.dim {
  opacity: 1;
}

.dim,
.dim:focus,
.dim:hover {
  transition: opacity 0.15s ease-in;
}

.f4 {
  font-size: 1.25rem;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.flex-0 {
  flex: 0 0 auto;
}

.flex-1 {
  flex: 1;
}

.flex-around {
  justify-content: space-around;
}

.flex-auto {
  flex-basis: auto;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-end {
  align-items: flex-end;
}

.gray {
  color: var(--gray);
}

.green {
  color: var(--green);
}

.hidden {
  transition-delay: 0s;
}

.h-100 {
  height: 100%;
}

.h2 {
  height: 2rem;
}

.h3 {
  height: 4rem;
}

.icon {
  min-width: 1rem;
}

.link {
  text-decoration: none;
}

.link,
.link:focus,
.link:hover {
  transition: color 0.15s ease-in;
}

.list {
  list-style-type: none;
}

.ma0 {
  margin: 0;
}

.mb1 {
  margin-bottom: 0.25rem;
}

.ml1 {
  margin-left: 0.25rem;
}

.ml4 {
  margin-left: 2rem;
}

.mt1 {
  margin-top: 0.25rem;
}

.mt3 {
  margin-top: 1rem;
}

.mv0 {
  margin-bottom: 0;
  margin-top: 0;
}

.near-white {
  color: var(--near-white);
}

.overflow-auto {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.pa1 {
  padding: 0.25rem;
}

.pa2 {
  padding: 0.5rem;
}

.pa3 {
  padding: 1rem;
}

.ph1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.ph2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pl0 {
  padding-left: 0;
}

.pl1 {
  padding-left: 0.25rem;
}

.pt1 {
  padding-top: 0.25rem;
}

.pt3 {
  padding-top: 1rem;
}

.red {
  color: var(--red);
}

.right-1 {
  right: 1rem;
}

.shadow-4 {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.square {
  height: 2.5rem;
  width: 2.5rem;
}

.tc {
  text-align: center;
  text-align-last: center;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-100 {
  width: 100%;
}

.w10 {
  max-width: 40rem;
}

.w2 {
  width: 2rem;
}

.w3 {
  width: 4rem;
}

.w5 {
  width: 20rem;
}

[type=search] {
  appearance: none;
  outline-offset: -2px;
}

.icon path {
  fill: none;
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-width: 2;
}

.app + .logo {
  height: 20rem;
  width: 20rem;
}

.dim:focus,
.dim:hover {
  opacity: 0.8;
}

.hide-child .child {
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.hover-bg-near-white:focus,
.hover-bg-near-white:hover {
  background-color: var(--near-white);
}

.hover-bg-shade:focus,
.hover-bg-shade:hover {
  background-color: var(--shade);
}

.hover-blue:focus,
.hover-blue:hover {
  color: var(--blue);
}

.hover-dark-blue:focus,
.hover-dark-blue:hover {
  color: var(--dark-blue);
}

.hover-dark-pink:focus,
.hover-dark-pink:hover {
  color: var(--dark-pink);
}

.hover-green:focus,
.hover-green:hover {
  color: var(--green);
}

.hover-light-blue:focus,
.hover-light-blue:hover {
  color: var(--light-blue);
}

.hover-light-gray:focus,
.hover-light-gray:hover {
  color: var(--light-gray);
}

.hover-light-green:focus,
.hover-light-green:hover {
  color: var(--light-green);
}

.hover-light-red:focus,
.hover-light-red:hover {
  color: var(--light-red);
}

.hover-orange:focus,
.hover-orange:hover {
  color: var(--orange);
}

.hover-red:focus,
.hover-red:hover {
  color: var(--red);
}

.icon.small {
  width: 1.25rem;
}

.icon.wide {
  width: 1.5rem;
}

.link:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

.logo :nth-child(-n+5) {
  animation: linear infinite alternate scale-y .25s;
  transform-box: fill-box;
  transform-origin: center top;
}

.logo :nth-child(2) {
  animation-delay: 0.2s;
  animation-duration: 0.43s;
}

.logo :nth-child(3) {
  animation-delay: 0.1s;
}

.logo :nth-child(4) {
  animation-delay: 0.3s;
  animation-duration: 0.57s;
}

.logo :nth-child(5) {
  animation-delay: 0.4s;
}

.pointer:hover {
  cursor: pointer;
}

.app:not(.hidden)+.logo,
.hidden {
  opacity: 0;
  pointer-events: none;
}

.hide-child:focus .child,
.hide-child:hover .child {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.app:not(.hidden) + .logo path,
.logo.freeze path {
  animation-play-state: paused;
}
