{
  "env": {
    "production": {
      "plugins": [
        "./.babel-plugin.js"
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "alias": {
          "@client": "./client",
          "@server": "./server",
          "@shared": "./shared",
          "@tests": "./tests",
          "@types": "./types"
        },
        "cwd": "babelrc"
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-flow",
    "@babel/preset-react"
  ]
}
