{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-modules-commonjs",
    [
      "module-resolver",
      {
        "alias": {
          "@client": "./client",
          "@lib": "./lib",
          "@server": "./server",
          "@types": "./types"
        },
        "cwd": "babelrc"
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-flow",
    "@babel/preset-react"
  ]
}
