{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@client": "./client",
          "@server": "./server",
          "@shared": "./shared",
          "@tests": "./tests",
          "@types": "./types"
        },
        "cwd": "babelrc"
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 2,
        "exclude": ["@babel/plugin-transform-regenerator"],
        "useBuiltIns": "entry"
      }
    ],
    ["@babel/preset-flow"],
    ["@babel/preset-react"]
  ]
}
